#vending-machine {
    height: 45vh;
    width: 30vh;
    background: #1a345e;
    margin: 1em;
    padding: 1em;
    color: #8899ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

@keyframes wiggle {
    0% {
	transform: rotate(82deg) rotatey(15deg);
    }
    25% {
	transform: rotate(86deg) rotatey(-15deg);
    }
    50% {
	transform: rotate(90deg) rotatey(15deg);
    }
    75% {
	transform: rotate(86deg) rotatey(-15deg);
    }
    100% {
	transform: rotate(82deg) rotatey(15deg);
    }
}

#waterbottle {
    image-rendering: pixelated;
    width: 40%;
    margin: auto;
    
    animation-name: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#waterbottlep {
    background:#111111;
    align-self: center;
    width: 100%;
    height: 27%;
    display: flex;
}

#canvas {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#videop {
    position: relative;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#showpresentation {
    max-width: min(51em, 90vw);
    overflow-x: auto;
}

#issuing {
    max-width: 30em;
}

#otherimage > * {
    max-width: 95vw;
    max-height: 45vh;
}
