#vending-machine {
    height: 45vh;
    width: 30vh;
    background: #1a345e;
    margin: 1em;
    padding: 1em;
    color: #8899ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#canvas {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#videop {
    position: relative;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#showpresentation {
    max-width: min(51em, 90vw);
    overflow-x: auto;
}

#issuing {
    max-width: 30em;
}

#otherimage > * {
    max-width: 95vw;
    max-height: 45vh;
}
